cache:
  directories:
    - "node_modules"
before_script:
  - npm install -g yarn
  - yarn install
script:
  - yarn build
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: build
  target-branch: gh
  name: Travis
  on:
    branch: master